.auth-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background-color: var(--back-colour);
  background-image: url("../Icons/Loadingimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  background-color: var(--back-colour);
  border-radius: 0;
  padding: 2rem;
  max-width: 400px;
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: none;
  text-align: center;
}

.auth-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--panel-colour);
  font-size: 1rem;
  color: var(--text-color);
}

.button-secondary {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.button-secondary:hover {
  filter: brightness(var(--button-Fade));
}

.text-link {
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: right;
  margin-bottom: 1rem;
}

.text-link a {
  color: var(--text-color);
  text-decoration: underline;
}

.or-divider {
  text-align: center;
  margin: 0.5rem 0;
  color: var(--text-color);
}

.error-text {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
