/* Light mode */
:root {
  color-scheme: light dark;

  --primary-color: #00b5c2;
  --primary-color-fadded: #00b5c230;

  --text-color: #646464;
  --panel-colour: #e0e0e0;
  --back-colour: #ffffff;

  --button-Fade: 80%;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --primary-color: #00b5c2;
    --primary-color-fadded: #00b5c230;

    --text-color: #b8b8b8;
    --panel-colour: #222;
    --back-colour: #14161a;

    --button-Fade: 130%;
  }
}
